<!-- <div>
    <div fxLayout="row" fxLayout="100%" fxLayoutAlign="center center">
        <h1>Signup Form</h1>
    </div>
    <div class="example-container" fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between">
        <mat-form-field appearance="fill">
            <mat-label for="name">Enter your Name</mat-label>
            <input formControlName="name" required matInput type="text" placeholder="Name"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="name">Enter your Name</mat-label>
            <input formControlName="name" required matInput type="text" placeholder="Name"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="name">Enter your Name</mat-label>
            <input formControlName="name" required matInput type="text" placeholder="Name"/>
        </mat-form-field>
      </div>
      <div class="example-container1" fxFlex="50%" fxLayout="column" fxLayoutAlign="space-between">
        <mat-form-field appearance="fill">
            <mat-label for="name">Enter your Name</mat-label>
            <input formControlName="name" required matInput type="text" placeholder="Name"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="name">Enter your Name</mat-label>
            <input formControlName="name" required matInput type="text" placeholder="Name"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="name">Enter your Name</mat-label>
            <input formControlName="name" required matInput type="text" placeholder="Name"/>
        </mat-form-field>
      </div>
</div>
 -->
